body {
	background: url("images/hq-background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.minimal #taskbar a, #taskbar a {
    color: #edf7fc;
}

.minimal #topline,
#topline {
    background: #333 none repeat scroll 0 0;
}

#topnav, 
.listbox .listitem.selected,
 .listbox .tablink.selected, .listbox .listitem.selected > a, .listbox .tablink.selected > a, .listing tbody tr.selected td, .listing li.selected, .listing li.selected > a,
#directorylist li.addressbook.selected > a 
{
    background-color: #3c8dbc;
}

#topnav {
    background-image: url("images/hq-webmail_logo.png");
	background-size: auto;
}

#taskbar {
	padding-left: 260px;
}

#login-form .box-inner {
	padding: 90px 24px 24px;
	background:#666 url("images/hq-webmail_logo.png") no-repeat scroll center 14px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#rcmloginuser, #rcmloginpwd {
	padding: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}